<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' }}">
        <div class="header__logo--container">
          {% include logo.svg %}
        </div>
      </a>
      <div>
        <div style="float: left;" class="only-desktop">Analyze feedback now!&nbsp;&nbsp;</div><a href="https://currents.ai/signup" class="btn" style="float: left;">Get Started</a>
      </div>
      <!--
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <span itemprop="name">{{ item.name }}</span>
            </a>
          {% endfor %}
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>-->
    </div>
  </div>
</header>
