.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  tab-size: 4;
  font-family: inherit;
  box-sizing: border-box;
  border-style: solid;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  text-decoration: inherit;
  --tw-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
  border-color: transparent;
  border-radius: 0.375rem;
  border-width: 1px;
  display: inline-flex;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  &::after {
    display: none;
  }

  &:hover,
  :focus,
  :active {
    color: $bg-color;
    background-color: lighten(#277cea, 14%);
    outline: 0;
  }
}

.btn + .btn {
  margin-top: 2em;

  @include breakpoint(350px) {
    margin-top: 0;
    margin-left: 2em;
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: .65;
  transition: background-color .2s ease;

  &:hover,
  :focus {
    background-color: $button-dark;
  }
}
